$font-raleway: "Raleway", sans-serif;
$font-Poppins: "Poppins", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$font-Noto: "Noto+Serif", sans-serif;
$grey: #585757;
$blue: #30f7fe;
$white: #fefeff;
$black: #171717;
$black-dark: #0d0c08;
$purple: #5b2ddb;
$bg-purple: #582fd7;
$bg-team: #f7f7f7;
$bg-testimonial: #fdfeff;
$bg-footer: #1b1b1b;
$white-color: #ffffff;
$feature-title: #232323;
